@model IEnumerable<ass3.Models.Order>


@{
    ViewBag.Title = "Search Oder";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Content/RowHighLighting.css");
@Scripts.Render("~/Scripts/RowHighLighting.js")

<h2>Search</h2>
<hr/>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <p>
        Search by Customer Name : @Html.TextBox("Name")
        <input type="submit" value="Search" />
    </p>
}
<br/>

<table id="data" class="table">
    <thead>
        <tr>
            <th>
                Customer
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Destination)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DepartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Days)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>Action</th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Destination)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DepartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Days)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>

            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.OrderId }) |
                @Html.ActionLink("Details", "Details", new { id = item.OrderId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.OrderId })
            </td>
        </tr>
    }

</table>
